<div class="dashboard-container">
  <div class="profiles-list col-xs-12 col-md-4">
    <div class="profiles-list-header">
      <span>People</span>
    </div>
    <%= render 'shared/profile-card', user: @user, notifications: @notifications.count %>
    <% @patients.each do |patient| %>
      <%=
        render 'shared/profile-card',
        user: patient,
        notifications: @notifications.where(event_id: patient.events.pluck(:id)).count
      %>
    <% end %>
  </div>
  <div class="notifications-list col-xs-12 col-md-4">
    <div class="notifications-list-header">
      <span>Latest Notifications</span>
    </div>
    <% @notifications[0..4].each do |notification| %>
      <%= render 'shared/notification-card', notification: notification %>
    <% end %>
    <div class="notifications-list-see-more">
      <p>
        <% if @notifications.size > 5 %>
          <%= link_to notifications_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="events-list col-xs-12 col-md-4">
    <div><%= render 'shared/calendar-day', events: @events[0..4] %></div>
    <div class="events-list-see-more">
      <p>
        <% if @events.size > 5 %>
          <%= link_to events_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
