<% if @user.simple_view %>
  <div class="schedule-button-element">
    <%= link_to "Schedule", profile_events_path(@user), class: "schedule-button" %>
  </div>
  <div class="notification-button-element">
    <%= link_to "Notifications", profile_notifications_path(@user), class: "notification-button" %>
  </div>
<% else %>
  <div class="dashboard-container">
    <div class="profiles-list col-xs-12 col-md-4">
      <div class="profiles-list-header">
        <span>People</span>
      </div>
      <div class="profile-list-container" <%= "style='overflow-y: scroll;'" if @patients.size > 4 %> >
        <%=
          render 'shared/profile-card',
          user: @user,
          notifications: @notifications.where(event_id: @user.events.pluck(:id)).count %>
        <% @patients.each do |patient| %>
          <%=
            render 'shared/profile-card',
            user: patient,
            notifications: @notifications.where(event_id: patient.events.pluck(:id)).count
          %>
        <% end %>
      </div>
      <% unless @pendings %>
        <div class="btn-container-full-width">
          <%= link_to "New relation request", profile_relations_path(@user), class: "btn-orange" %>
        </div>
      <% end %>
    </div>
    <div class="notifications-list col-xs-12 col-md-4">
      <div class="notifications-list-header">
        <span>Latest Notifications</span>
      </div>
      <div class="notifications-list-container" <%= "style=overflow-y:scroll;" if @notifications.size > 5 %> >
        <% @notifications.each do |notification| %>
          <%= render 'shared/notification-card', notification: notification %>
        <% end %>
      </div>
      <div class="notifications-list-see-more">
        <% if @notifications.empty? %>
          <p>
            <strong>Yay!</strong> 🎉 you don't have any notifications.
          </p>
        <% end %>
        <% if @notifications.size > 5 %>
          <p>
            <%= link_to "See all notifications", notifications_path, class: "btn-blue" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="events-list col-xs-12 col-md-4">
      <div class="events-list-header hidden-md hidden-lg">
        <p>Schedule</p>
      </div>
      <div class="events-list-container">
        <div>
          <%= render 'shared/calendar-day', profile: @user, events: @events %>
        </div>
        <div class="events-list-see-more">
        <%= if current_user.patients.empty?
            link_to "See your schedule", profile_events_path(current_user), class: "btn-blue"
          else
            link_to "See full schedule", events_path, class: "btn-blue"
          end %>
      </div>
      </div>
    </div>
  </div>
<% end %>


















