<h1>Profile page of <%= link_to @profile.email, profile_path(@profile) %></h1>
<%= link_to "Edit #{@profile.email} profile", edit_profile_path(@profile) %>
<h2>Patients</h2>
<p><%= "No patients" if @patients.empty? %></p>
<% @patients.each do |patient| %>
  <p><%= link_to patient.email, profile_path(patient) %></p>
<% end %>
<h2>Caretakers</h2>
<p><%= "No caretackers" if @profile.caretakers.empty? %></p>
<% @profile.caretakers.each do |caretaker| %>
  <p><%= link_to caretaker.email, profile_path(caretaker) %></p>
<% end %>
<h2>Events</h2>
<p>Event Name | Event User</p>
<% @events.each do |event| %>
  <p><%= event.name %> | <%= link_to event.user.email, profile_path(event.user) %></p>
<% end %>
<h2>Notifications</h2>
<p>Notification Name | Notification Regarding User</p>
<% @notifications.each do |notification| %>
  <p><%= notification.event.name %> | <%= link_to notification.event.user.email, profile_path(notification.event.user.email) %></p>
<% end %>
