<div class="dashboard-container">
  <div class="profiles-list col-xs-12 col-md-4">
    <div class="profiles-list-header">
      <span>People</span>
    </div>
    <%= render 'shared/profile-card', user: @profile, notifications: @notifications.count %>
    <% if @profile == current_user %>
      <div class="btn-container-full-width">
        <%= link_to "Edit my profile", edit_user_registration_path, class: "btn-blue" %>
      </div>
    <% end %>
    <div class="btn-container-full-width">
      <%= link_to "Add caretaker", profile_new_caretaker_path(profile_id: @profile), class: "btn-blue" %>
    </div>
    <div class="btn-container-full-width">
      <%= link_to "Add patient", profile_new_patient_path(profile_id: @profile), class: "btn-blue" %>
    </div>
  </div>
  <div class="notifications-list col-xs-12 col-md-4">
    <div class="notifications-list-header">
      <span>Latest Notifications</span>
    </div>
    <% @notifications[0..4].each do |notification| %>
      <%= render 'shared/notification-card', notification: notification %>
    <% end %>
    <div class="notifications-list-see-more">
      <p>
        <% if @notifications.size > 5 %>
          <%= link_to "See all notifications", notifications_path(profile_id: @profile.id) %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="events-list col-xs-12 col-md-4">
    <div><%= render 'shared/calendar-day', events: @events[0..4] %></div>
    <div class="events-list-see-more">
      <p>
        <%= link_to "See full schedule", profile_events_path(@profile) %>
      </p>
    </div>
  </div>
</div>
