<div class="dashboard-container">
  <div class="profiles-list col-xs-12 col-md-4">
    <div class="profiles-list-header">
      <span>People</span>
    </div>
    <div class="profiles-list-container">
      <%= render 'shared/profile-card', user: @profile, notifications: @notifications.count %>
    </div>
    <% if @profile == current_user %>
      <div class="btn-container-full-width">
        <%= link_to "Edit my profile", edit_user_registration_path, class: "btn-blue" %>
      </div>
    <% end %>
    <div class="btn-container-full-width">
      <%= link_to "Add caretaker", profile_new_caretaker_path(profile_id: @profile), class: "btn-blue" %>
    </div>
    <div class="btn-container-full-width">
      <%= link_to "Add patient", profile_new_patient_path(profile_id: @profile), class: "btn-blue" %>
    </div>
  </div>
  <div class="notifications-list col-xs-12 col-md-4">
    <div class="notifications-list-header">
      <span>Latest Notifications</span>
    </div>
    <div class="notifications-list-container">
      <% @notifications.each do |notification| %>
        <%= render 'shared/notification-card', notification: notification %>
      <% end %>
    </div>
    <div class="notifications-list-see-more">
      <% if @notifications.empty? %>
        <p>
          <strong>Yay!</strong> 🎉 you don't have any notifications.
        </p>
      <% end %>
      <% if @notifications.size > 5 %>
        <%= link_to "See #{@profile == current_user ? 'your' : @profile.first_name} notifications", profile_notifications_path(@profile), class: "btn-blue" %>
      <% end %>
    </div>
  </div>
  <div class="events-list col-xs-12 col-md-4">
    <div class="events-list-container">
      <%= render 'shared/calendar-day', events: @events %>
    </div>
    <div class="events-list-see-more">
      <%= link_to "Add event", new_profile_event_path(@profile), class: "btn-blue" %>
      <%= link_to "See #{@profile == current_user ? 'your' : @profile.first_name} schedule", profile_events_path(@profile), class: "btn-blue" %>
    </div>
  </div>
</div>
