<% if user_signed_in? %>
  <div class="navbar-caretaker">
    <!-- left side -->
    <div class="navbar-caretaker-left">
      <!-- nothing inside -->
    </div>
    <!-- Logo -->
    <%= link_to profiles_path, class: "navbar-caretaker-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-caretaker-right hidden-xs hidden-sm">

      <!-- Links when logged in -->
      <%= link_to "Dashboard", profiles_path, class: "navbar-caretaker-item navbar-caretaker-link" %>
      <%= link_to "Events", "#", class: "navbar-caretaker-item navbar-caretaker-link" %>
      <%= link_to "Notifications", "#", class: "navbar-caretaker-item navbar-caretaker-link" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-caretaker-item navbar-caretaker-link" %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-caretaker-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-caretaker-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <!-- no navbar if not sign in -->
<% end %>
