<% if user_signed_in? %>
  <div class="navbar-caretaker">
    <!-- left side -->
    <div class="navbar-caretaker-left">
      <!-- nothing inside -->
    </div>
    <!-- Logo -->
    <%= link_to profiles_path, class: "navbar-caretaker-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-caretaker-right hidden-xs hidden-sm">

      <!-- Links when logged in -->
      <%= link_to "Host", "#", class: "navbar-caretaker-item navbar-caretaker-link" %>
      <%= link_to "Trips", "#", class: "navbar-caretaker-item navbar-caretaker-link" %>
      <%= link_to "Messages", "#", class: "navbar-caretaker-item navbar-caretaker-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-caretaker-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-caretaker-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-caretaker-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-caretaker-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-caretaker-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <!-- no navbar if not sign in -->
<% end %>
