<% if user_signed_in? %>
  <div class="navbar-caretaker">
    <!-- left side -->
    <div class="navbar-caretaker-left hidden-xs hidden-sm">
      <!-- nothing inside -->
    </div>
    <!-- Logo -->
    <%= link_to profiles_path, class: "navbar-caretaker-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-caretaker-right">
      <div class="navbar-caretaker-right-links hidden-xs hidden-sm">
        <!-- Links when logged in -->
        <%= link_to "Dashboard", profiles_path, class: "navbar-caretaker-item navbar-caretaker-link" %>
        <%= link_to "Events", events_path, class: "navbar-caretaker-item navbar-caretaker-link" %>
        <%= link_to "Notifications", notifications_path, class: "navbar-caretaker-item navbar-caretaker-link" %>
        <%#= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-caretaker-item navbar-caretaker-link" %>
      </div>

      <!-- Dropdown list -->
      <div class="navbar-caretaker-item">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-caretaker-dropdown-menu">
            <li><a class="hidden-md hidden-lg" href="<%= profiles_path %>">Dashboard</a></li>
            <li><a class="hidden-md hidden-lg" href="<%= events_path %>">Events</a></li>
            <li><a class="hidden-md hidden-lg" href="<%= notifications_path %>">Notifications</a></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- no navbar if not sign in -->
<% end %>
