<%
  # logic to get class for each notification type and for word before time
  notification_type = notification.notification_type
  if notification_type == "missed"
    type_class = "notification-flash-danger"
    type = "Missed"
  elsif notification_type == "done"
    type_class = "notification-flash-success"
    type = "Done"
  elsif notification_type == "before"
    type_class = "notification-flash-warning"
    type = "Scheduled"
  elsif notification_type == "do"
    type_class = "notification-flash-do"
    type = "Scheduled"
  else
    type_class = "notification-flash-normal"
    type = ""
  end
%>

<div class='notification-flash <%= type_class %>'>
  <%= link_to "", profile_notification_path(notification.event.user, notification), class: "notification-flash-link" %>
  <div class="notification-flash-content">
    <p><i class="fas <%=notification.event.event_type.description%>"></i><strong><%=" " + notification.event.name %></strong></p>
    <span><%= type %> <%= notification.event.start_time.strftime('at %H:%M') %> | <%=
    notification.event.user == current_user ? "You" : notification.event.user.first_name %></span>
  </div>
  <%= link_to profile_notification_path(notification.event.user, notification), method: :delete, data: { confirm: 'Dismiss Notification?' }, class: "dismiss" do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>
