<%
  # logic to get class for each notification type and for word before time
  notification_type = notification.notification_type
  if notification_type == "missed"
    type_class = "notification-flash-danger"
    type = "Missed"
  elsif notification_type == "done"
    type_class = "notification-flash-success"
    type = "Done"
  elsif notification_type == "before"
    type_class = "notification-flash-warning"
    type = "Scheduled"
  elsif notification_type == "do"
    type_class = "notification-flash-do"
    type = "Scheduled"
  else
    type_class = "notification-flash-normal"
    type = ""
  end
%>

<div class='notification-flash <%= type_class %>'>
  <%= link_to "", notification_path(notification), class: "notification-flash-link" %>
  <div class="notification-flash-content">
    <p><%= notification.event.name %></p>
    <span><%= type %> <%= notification.event.start_time.strftime('at %H:%M') %> | <%= notification.event.user.first_name %></span>
  </div>
  <%= link_to notification_path(notification), method: :delete, data: { confirm: 'Dismiss Notification?' }, class: "dismiss" do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>
