<!-- Notification for Caretakers and for Users of the event -->
<div class="card-notification-missed">
  <div class="notification-infos">
    <div class="notification-title">
        <% if @notification.event.user == current_user %>
          <p>You</p>
        <%else %>
          <p><%= @notification.event.user.first_name + " " + @notification.event.user.last_name  %></p>
        <% end %>
    </div>
    <div class="notification-infos-event">
      <!-- Change this image for the one of notification.event.event_type.description -->
      <!-- <img src="#" class="info-event-type"> -->
      <div class="info-event-name-time">
        <h5><%= @notification.event.name %> </h5>
        <p> <%= @notification.event.start_time.strftime("At %I:%M%p") %> </p>
      </div>
    </div>
    <div class="item-description">
      <p><%= @notification.event.description %></p>
    </div>
    <div class="buttons">
      <% unless @notification.event.done %>
        <% if @notification.event.user == current_user %>
          <%= link_to notification_path(@notification, refer: @refer), method: :patch, class: "no-decoration" do %>
            <p class="button-done">Mark as done</p>
          <% end %>
        <% end %>
      <% end %>
      <% unless @notification.dismissed %>
        <% if @notification.event.user != current_user %>
          <%= link_to notification_path(@notification, refer: @refer), method: :delete, class: "no-decoration" do %>
            <p class="button-dismiss">Dismiss</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
