<!-- Notification for Caretakers and for Users of the event -->
<div class="card-notification-before">
  <div class="notification-infos">
    <div class="notification-title">
        <% if @notification.event.user == current_user %>
          <p>For you</p>
        <%else %>
          <p><%="For " + @notification.event.user.first_name + " " + @notification.event.user.last_name  %></p>
        <% end %>
    </div>
    <div class="notification-infos-event">
      <!-- Change this image for the one of notification.event.event_type.description -->
      <!-- <img src="#" class="info-event-type"> -->
      <div class="info-event-name-time">
        <h5><i class="fas <%=@notification.event.event_type.description%>"></i><%= " " + @notification.event.name %> </h5>
        <p> <%= @notification.event.start_time.strftime('At %H:%M') %> </p>
      </div>
    </div>
    <div class="item-description">
      <p><%= @notification.event.description %></p>
    </div>
    <div class="buttons">
      <% unless @notification.event.done %>
        <% if @notification.event.user == current_user %>
          <%= link_to profile_notification_path(@notification.event.user, @notification), method: :patch, class: "no-decoration" do %>
            <p class="button-done">Mark as done</p>
          <% end %>
        <% end %>
      <% end %>
      <% unless @notification.dismissed %>
        <%= link_to profile_notification_path(@notification.event.user, @notification), method: :delete, class: "no-decoration" do %>
          <p class="button-dismiss">Dismiss</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to profiles_path, class: "btn-close" do %>
    <i class="far fa-times-circle"></i>
  <% end %>
</div>
