<!-- Notification only for Users of the event -->
<div class="card-notification-do">
  <div class="notification-infos">
    <div class="notification-title">
      <p>You</p>
    </div>
    <div class="notification-infos-event">
      <!-- Change this image for the one of notification.event.event_type.description -->
      <!-- <img src="#" class="info-event-type"> -->
      <div class="info-event-name-time">
        <h5><i class="fas <%=@notification.event.event_type.description%>"></i><%= " " + @notification.event.name %> </h5>
        <p> <%= @notification.event.start_time.strftime("At %I:%M%p") %> </p>

      </div>
    </div>
    <div class="item-description">
      <p><%= @notification.event.description %></p>
    </div>
    <div class="buttons">
      <% unless @notification.event.done%>
        <%= link_to profile_notification_path(@notification.event.user, @notification, refer: @refer), method: :patch, class: "no-decoration" do %>
          <p class="button-done">Mark as done</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
