<%= f.error_notification %>
<%= f.error_notification message: @event.errors.full_messages.to_sentence %>

<%= @event.errors.full_messages.join(', ') %>

<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.association :event_type %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :recurring?, as: :boolean,
              hint:"  If this event occur multiple times." %>
  <%= f.input :recurring_times,
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
              hint:"  Number of times that you want the event to happen." %>
  <%= f.input :hours,
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
              hint:"  Time space between events in hours." %>
  <%= f.input :days,
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
              hint:"  Time space between events in days." %>
  <%= f.input :weeks,
              collection: [1,2,3,4],
              hint:"  Time space between events in weeks." %>
  <%= f.input :months,
              collection: [1,2,3,4,5,6,7,8,9,10,11],
              hint:"  Time space between events in months." %>
  <%= f.input :notify_before?, as: :boolean,
              hint:"  If you want to be notified 15mins before the event." %>
  <%= f.input :minutes,
              collection: [0,15,30,45],
              hint:"  Time space between events in minutes." %>
  <%= f.input :notify_done?, as: :boolean,
              hint:"  If you want the caretaker to be notified when event is marked as done." %>
  <%= f.input :notify_missed?, as: :boolean,
              hint:"  If you want the caretaker to be notified if the event is not done 15mins after the scheduled time." %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
