<%= f.error_notification %>
<%= f.error_notification message: @event.errors.full_messages.to_sentence %>

<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description  %>
  <%= f.association :event_type %>
  <%= f.input :start_time,
              as: :string %>
  <%= f.input :end_time,
              as: :string %>
  <%= f.input :notifications, as: :boolean,
              hint:"  Manage notifications." %>
  <%= f.input :notify_before?, as: :boolean,
              wrapper_html: {class:'hidden' },
              hint:"  Notify before the event." %>
  <%= f.input :minutes,
              collection: [15,30,45],
              wrapper_html: {class:'hidden' },
              hint:"  Notifications time before the event (default 15mins)." %>
  <%= f.input :notify_done?, as: :boolean,
              wrapper_html: {class:'hidden' },
              hint:"  Notify caretaker(s) when event is done." %>
  <%= f.input :notify_missed?, as: :boolean,
              wrapper_html: {class:'hidden' },
              hint:"  Notify 15mins after the scheduled time." %>
  <%= f.input :recurring?, as: :boolean,
              hint:"  If event happen multiple times." %>
  <%= f.input :recurring_times,
              wrapper_html: {class:'hidden' },
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
              hint:"  Number of times the event happen." %>
  <%= f.input :hours,
              wrapper_html: {class:'hidden' },
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
              hint:"  Hours between events." %>
  <%= f.input :days,
              wrapper_html: {class:'hidden' },
              collection: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
              hint:"  Days between events." %>
  <%= f.input :weeks,
              wrapper_html: {class:'hidden' },
              collection: [1,2,3,4],
              hint:"  Weeks between events." %>
  <%= f.input :months,
              wrapper_html: {class:'hidden' },
              collection: [1,2,3,4,5,6,7,8,9,10,11],
              hint:"  Months between events." %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
