<div class="event-container full-height">
  <div class="event-card">
    <div class="event-title">
      <% if @event.user == current_user %>
        <p>For you</p>
      <%else %>
        <p><%="For " + @event.user.first_name + " " + @event.user.last_name  %></p>
      <% end %>
    </div>
    <div class="event-infos-event">
      <!-- Change this image for the one of event.event.event_type.description -->
      <!-- <img src="#" class="info-event-type"> -->
      <div class="info-event-name-time">
        <h5><i class="fas <%=@event.event_type.description%>"></i><%= " " + @event.name %> </h5>
        <p> <%= @event.start_time.strftime('At %H:%M') %> </p>
      </div>
    </div>
    <div class="item-description">
      <p><%= @event.description %></p>
    </div>
    <div class="btn-container-full-width">
      <%= link_to "Edit", edit_profile_event_path(@profile, @event), class: "btn-blue" %>
    </div>
    <div class="btn-container-full-width">
      <%= link_to "Delete", profile_event_path(@profile, @event), method: :delete, class: "btn-red", data: { confirm: 'Are you sure?' } %>
    </div>
    <%= link_to 'Back', profile_events_path(@profile) %>
  </div>
</div>
