<% if user_signed_in? %>
  <script type="text/javascript">
    window.location.href="/profiles"  // put your correct path in a string here
  </script>
<% else %>
  <div class="landing-page">
    <div class="landing-page-container">
      <h1>CARETAKER</h1>
      <h3>Helper for life</h3>
      <p><%= link_to "Sign Up", new_user_registration_path, class: "btn-blue" %></p>
      <p>Already a user? Please <%= link_to "Sign In", new_user_session_path %></p>
    </div>
  </div>
    <div class="container-description ">
      <div class="description col-xs-12">
        <div class="subhead">WHO WE ARE</div>
        <h2>A HELPER FOR LIFE</h2>
        <p>We are a web-service that allows the connection between users.
        <strong>For what?</strong> To help you care of your loved ones.</p>
      </div>
      <div class="titles-features col-xs-12">
        <div class="subhead">WHAT WE PROVIDE</div>
        <h2>FEATURES SERVICES</h2>
      </div>
      <div class="landing-featutes-container col-xs-12">
        <div class="featute-one col-md-6 col-lg-3">
          <div class= "image-feature-container">
            <i class="fas fa-users"></i>
          </div>
          <h4>Relations</h4>
          <p>Multiple types of linking between users.</p>
        </div >
        <div class="featute-two col-md-6 col-lg-3">
          <div class= "image-feature-container">
            <i class="far fa-calendar-alt"></i>
          </div>
          <h4>Calendar</h4>
          <p>Access to your calendar and the one of other users.</p>
        </div>
        <div class="featute-three col-md-6 col-lg-3">
          <div class= "image-feature-container">
            <i class="far fa-bell"></i>
          </div>
          <h4>Notifications</h4>
          <p>Receive notifications about your events or the ones of other users.</p>
        </div>
        <div class="featute-four col-md-6 col-lg-3">
          <div class= "image-feature-container">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h4>Simple</h4>
          <p>Simplified interface available for everyone</p>
        </div>
      </div>
      <div class="titles-reviews col-xs-12">
        <div class="subhead">HOW WE PROVIDE</div>
        <h2>USERS REVIEWS</h2>
      </div>
      <div class="reviews-container col-xs-12">
        <div class="review-one col-md-6 col-lg-3">
          <%= image_tag "abraham.png", class: "avatar-large"  %>
          <p>"Great app! It has a really simple interface! That way we to the notifications system"</p>
        </div>
        <div class="review-two col-md-6 col-lg-3">
          <%= image_tag "emanuel.png", class: "avatar-large"  %>
          <p>"Simplified interface available for everyone"</p>
        </div>
        <div class="review-two col-md-6 col-lg-3">
          <%= image_tag "pedro.png", class: "avatar-large"  %>
          <p>"Simplified interface available for everyone"</p>
        </div>


      </div>

    </div>


<% end %>
